<div class="card">
    <div>
        <h2>{{book.name}}</h2>
        <div class="author">
            <strong>Authors:</strong>
                <p>{{book.authors | ListAuthor}}</p>
        </div>
    </div>
    <div  class="card-body">
    <small>
        Total/Available amount: {{book.amount}}/{{book.amount-1}}
    </small>
    <div  *ngIf="isAutentificated">
        <a type="button" class="btn btn-dark" (click)="TakeBook(book.id)">Take</a>
        <a type="button" class="btn btn-primary" (click)="ReturnBook(book.id)">Return</a>
    </div>
    </div>
</div>
