<div class="card">    
    <div>
        <h2>{{book.name}}</h2>
        <p>Authors: {{book.authors | ListAuthor}}</p>
    </div>
    <div  class="card-body">
    <small>
        Total/Available amount: {{book.amount}}/{{book.amount - book.issued}}
    </small>
    <div  *ngIf="isAutentificated">
        <button type="button"
         class="btn btn-dark"
         (click)="TakeBook(book.id)"
         [disabled]="!isAvailableBook(book)"
         >Take</button>
        <button type="button"
        class="btn btn-primary"
        (click)="ReturnBook(book.id)"
        >Return</button>
    </div>
    </div>
</div>
