<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Sing in</h2>
    <small>
        <div class="alert alert-danger" *ngIf="auth.authErrorMessage.ErrorMessage"> Username or password is incorrect </div>    
    </small>
    <div class="form-control">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div class="validation">
            <small>
                <div class="alert alert-danger" *ngIf="auth.authErrorMessage.Email"> The field cannot be empty </div>
            </small>
        </div>
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div class="validation">
            <small>
                <div class="alert alert-danger" *ngIf="auth.authErrorMessage.Password"> The field cannot be empty </div>
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sing in</button>
</form>
