<app-alert></app-alert>   
<nav class="navbar bg-primary">
    <h1>
        <a routerLink="/">Library</a>
    </h1>

    <div>
        <ul>
            <li *ngIf="authService.isRoleAdmin()">
                <a [routerLink]="['/admin','dashboard']">Admin panel</a>                
            </li>
            <li>
                <a routerLinkActive="active" [routerLinkActiveOptions]={exact:true} [routerLink]="['/']">Home page</a>
            </li>
            <li *ngIf="authService.isAutentificated()">
                <a routerLinkActive="active" [routerLink]="['/mybooks']">My books</a> 
            </li>
            <li *ngIf="authService.isAutentificated(); else loginP">  
                <strong>
                <a href="#" (click)="logout($event)">Sing out</a>    
                </strong>            
            </li>
            <ng-template #loginP>
                <li> 
                    <strong>
                        <a routerLinkActive="active" [routerLink]="['/login']">Sing in</a>
                    </strong>
                                    
                </li>
            </ng-template>   
        </ul>
    </div>
</nav>

<div class="conteiner">
    <router-outlet></router-outlet>
</div>
