<app-alert></app-alert>   
<nav class="navbar bg-primary">
    <h1>Library</h1>

    <h4>
        <ul>
            <li *ngIf="authService.isRoleAdmin()">
                <a [routerLink]="['/admin','dashboard']">Admin panel</a>                
            </li>

            <li *ngIf="authService.isAutentificated(); else loginP">
                <a href="#" (click)="logout($event)">Sing out</a>             
            </li>
            <ng-template #loginP>
                <li><a [routerLink]="['/','login']">Sing in</a></li>      
            </ng-template>   
        </ul>
    </h4>
</nav>

<div class="conteiner">
    <router-outlet></router-outlet>
</div>
