    <div class="card card-create">
        <h2>{{book.name}}</h2>
        <p>Autors: {{book.authors | Author}}</p>  
        <form [formGroup]="form" (ngSubmit)="submit()">          
         <div class="form-control">
             <label for="amount">Total amount: </label>
             <input id="amount" type="number" formControlName="amount" min="1">
             <div class="validation">
                 <small>
                    <div class="alert alert-danger" *ngIf="bookService.updateBookError"> {{bookService.updateBookError}} </div>
                 </small>
             </div>
         </div>
   <button
     class="btn btn-primary"
     type="submit"
   >Update</button>
 </form>
    </div>


