<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Sing in</h2>
    <small>
        <div class="alert alert-danger" *ngIf="auth.authErrorMessage.ErrorMessage"> {{auth.authErrorMessage.ErrorMessage}} </div>    
    </small>
    <div class="form-control">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div class="validation">
            <small>
                <div class="alert alert-danger" *ngIf="auth.authErrorMessage.Email"> {{auth.authErrorMessage.Email}} </div>
            </small>
        </div>
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div class="validation">
            <small>
                <div class="alert alert-danger" *ngIf="auth.authErrorMessage.Password"> {{auth.authErrorMessage.Password}} </div>
            </small>
        </div>
    </div>
    <div class="group-auth-btn">
        <button type="submit" class="btn btn-primary">Sing in</button>
        <button class="btn btn-link open"
        (click)="this.auth.ClearAuthError()"
        [routerLink]="['/','registration']"
        >Registration</button>
    </div>

</form>
